.side{
    margin: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 300px;
    background-color: rgba(86, 88, 90, 0.8);
    max-height: 90vh;
    padding: 1rem 2rem;
    overflow:auto;
    .content{
        color: white;
        ol{
            padding: 0;
        
            li{
               
            }
        }
    }
}